.icon_ni_sya {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: blue;
    display: flex;              
    justify-content: center;     
    align-items: center;   
    text-align: center;
}
.icon_ni_sya .icn {
    color: white;
    font-size: 50px;
}
