.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:white;
    border: 2px dashed black;
    display: flex;              
    justify-content: center;     
    align-items: center;   
    text-align: center;
}
.icon .icn {
    color: black;
    font-size: 26px;
}
